@charset "iso-8859-1";
/* Padrão */
	*{
		margin:0px;
		padding:0px;
	}
	body.projeto {
		background:url('../img/projeto/background.png') repeat;
		font-family:Arial;
		font-size:12px;
		margin:0px;
		padding:0px;
	}
	a{
		text-decoration:none;
	}
/* FIM - Padrão */
/* Limites */
	.limitador{
		margin:0 auto;
		min-height:150px;
		overflow:hidden;
		width:1000px;
	}
/* FIM - Limites */
/* Estilos de texto */
	.negrito{font-weight:bold;}
	.italico{font-style:italic;}
	.sublinhado{text-decoration:underline;}
	.capitalizado{
		display:inline-block;
		float:left; 
		font-size:50px;
		margin:-7px 0 0 0;
		text-transform:capitalize; 
	}
	.fonte11{font-size:11px};
	.fonte12{font-size:12px};
	.fonte14{font-size:14px};
	.fonte18{font-size:18px};



	.laranja{color:#F60;}
/* FIM - Estilos de texto */
/* Estrutura - Topo */
	#topo {
		background:#FFF;
		height:30px;
		margin:0px;
		width:1000px;
	}
	#bts-topo{
		float:left;
		height:24px;
		margin:3px 0 0 10px;
		width:150px;
	}
	a.bt-fav{
		background:url('../img/projeto/sprite_bts.png') no-repeat;
		background-position:0px 0px;
		display:inline-block;
		height:24px;
		margin-right:3px;
		width:24px;
	}
	a.bt-fav:hover{background-position:0px -24px;}
	a.bt-contato{
		background:url('../img/projeto/sprite_bts.png') no-repeat;
		background-position:-24px 0px;
		display:inline-block;
		height:24px;
		margin-right:3px;
		width:24px;
	}
	a.bt-contato:hover{background-position:-24px -24px;}
	a.bt-rss{
		background:url('../img/projeto/sprite_bts.png') no-repeat;
		background-position:-48px 0px;
		display:inline-block;
		height:24px;
		margin-right:3px;
		width:24px;
	}
	a.bt-rss:hover{background-position:-48px -24px;}
	a.bt-ajuda{
		background:url('../img/projeto/sprite_bts.png') no-repeat;
		background-position:-72px 0px;
		display:inline-block;
		height:24px;
		margin-right:3px;
		width:24px;
	}
	a.bt-ajuda:hover{background-position:-72px -24px;}
	#login-topo{
		float:right;
		font-size:11px;
		font-style:italic;
		height:20px;
		margin-right:10px;
		padding:7px 0 0 0;
		position:relative;
		text-align:right;
		width:600px;
	}
	#dobra-topo{
		background:url('../img/projeto/dobra-topo.png') no-repeat;
		height:10px;
		width:1000px;
	}
	#topo-logo{
		background:#333;
		height:160px;
		margin:0 auto;
		width:980px;
	}
	#logo a{
		background:url('../img/projeto/logo-topo.png') no-repeat;
		display:inline-block;
		float:left;
		height:126px;
		margin:20px 0 0 30px;
		position:relative;
		width:332px;
	}
	#texto-topo a{
		background:url('../img/projeto/topo-texto.png') no-repeat;
		display:inline-block;
		float:right;
		height:51px;
		margin:20px 10px 0 0;
		position:relative;
		width:185px;
	}
	#menu-topo{
		display: inline-block;
		float: left;
		margin: 40px 0 0 119px;
		min-height: 20px;
		position: relative;
		width: 485px;
	}
	#menu-topo ul{
		list-style-type:none;
	}
	#menu-topo ul li{
		display:inline-block;
		float:left;
		padding:0 0 0 25px;
		position:relative;
	}
	#menu-topo ul li a{
		color:#FFF;
		font-size:14px;
		font-weight:bold;
	}
	#menu-topo ul li a:hover{
		color:#FC0;
	}
	#menu-topo ul li	a.inscricoes{
		color:#9C0;
	}
/* FIM - Estrutura - Topo */
/* Estrutura - Banner */
	#banner-full{
		background:#222;
		height:200px;
		position:relative;
		width:1000px;
	}
	#banner-imagem{
		height:200px;
		position:relative;
		width:1000px;
	}
	#dobra-banner{
		background:url('../img/projeto/dobra-banner.png') no-repeat;
		height:10px;
		position:relative;
		width:1000px;
	}
/* FIM - Estrutura - Banner */
/* Estrutura - Conteúdo */
	#conteudo{
		background:#FFF;
		margin:0 auto;
		min-height:460px;
		overflow:hodden;
		padding:10px 0 15px 0;
		width:980px;
	}
	.titulo{
		background:url('../img/projeto/back-titulo.png') no-repeat;
		float:left;
		height:40px;
		margin:0 0 0 -10px;
		padding:8px 0 0 15px;
		position:relative;
		width:385px;
	}
	.titulo h2{
		font-size:14px;
		font-weight:bold;
		text-transform:uppercase;
	}
	.data-hj{
		color:#666;
		float:left;
		height:15px;
		margin:8px 0 0 440px;
		padding:5px 0 0 0;
		position:relative;
		text-align:right;
		width:140px;
	}
	.conteudo-texto{
		display:block;
		margin:15px 9px 0 9px;
		min-height:10px;
		overflow:hidden;
		width:960px;
	}
	.conteudo-texto p {
		font-size:12px;
		margin:0 0 10px 0;
	}
	.conteudo-texto p.destaque {
		font-size:14px;
		font-style:italic;
		margin:25px 0 40px 0;
		text-align:right;
	}
/* FIM - Estrutura - Conteúdo */
/* Estrutura - Rodapé */
	#dobra-rodape{
		background:url('../img/projeto/dobra-rodape.png') no-repeat;
		height:10px;
		position:relative;
		width:1000px;
	}
	#rodape{
		background:#666;
		height:60px;
		position:relative;
		width:1000px;
	}
	#logo-rodape a{
		background:url('../img/projeto/logo-rodape.png') no-repeat;
		float:right;
		height:32px;
		margin:15px 15px 0 0;
		width:92px;
	}
	#rodape-texto{
		color:#FFF;
		float:right;
		font-style:italic;
		height:10px;
		margin:22px 15px 0 0;
		width:240px;
	}
/* FIM - Estrutura - Rodapé */
/* Mapa */
	#mapa{
		margin:0 auto;
		min-height:150px;
		overflow:hidden;
		padding:15px 0 15px 0;
		width:960px;
	}
/* FIM - Mapa */
/* Estrutura Contato*/
	.conteudo-formulario{
		margin:0 auto;
		min-height:150px;
		overflow:hidden;
		padding:15px 0 15px 0;
		width:960px;
		font-size:14px;
		color:#666;
		font-weight:bold;
	}
	.cont-esq{
		float:left;
		min-height:100px;
		position:relative;
		width:560px;
	}
	.cont-dir{
		float:left;
		min-height:100px;
		position:relative;
		width:400px;
		padding-top:20px;
	}
	.label-form{
		margin:0 0 20px 0;
	}
	.conteudo-formulario form label{
		display:block;
		margin:0 0 3px 0;
	}
	.conteudo-formulario form input{
		width:500px;
		heigh:30px;
		padding:10px 5px;
	}
	.conteudo-formulario form input[type=submit]{
		width:100px;
		heigh:30px;
		padding:10px 5px;
	}
	.conteudo-formulario form textarea{
		width:500px;
		height:90px;
		padding:10px 5px;
		font-family:Arial;
		resize:none;
	}
	.conteudo-formulario form select{
		width:512px;
		heigh:30px;
		padding:10px 5px;
	}
	
/* FIM - Estrutura Contato*/
/* */

	.lista-palestra{
		margin:0 auto;
		min-height:150px;
		overflow:hidden;
		padding:15px 0 15px 0;
		width:960px;
		font-size:14px;
		color:#666;
	}
	.lista-palestra ul{
		list-style-type:none;
	}
	.lista-palestra ul li{
		width:938px;
		min-height:30px;
		overflow:hidden;
		margin:0 0 15px 0;
		border:1px dashed #999;
		display:block;
		background:#EEE;
		text-align:center;
		padding:15px 10px 10px 10px;
	}
	
	.lista-palestra a{
		text-decoration:underline;
		color:#000;
	}

#flashMessage{background-color:#000; background-repeat:repeat-x; color:#FFF; font-family:Verdana, Geneva, sans-serif; font-size:20px; height:54px; padding-top:16px; position:fixed; text-align:center; top:0px; left:0px;	width:100%; z-index:9999}
#flashMessage span{background-image:url(../../img/site/sprite-mensagem.png); background-repeat:no-repeat;	margin-right:10px}
#flashMessage span.erro{background-position:-5px 3px; padding:0px 10px 0px 10px}
#flashMessage span.aviso{background-position:-5px -114px; padding: 0px 10px 0px 10px}
#flashMessage span.sucesso{background-position:0px -58px; padding:0px 15px 0px 15px}
#flashMessage.erro{background-position:0px 0px}
#flashMessage.aviso{background-position:0px -70px}
#flashMessage.sucesso{background-position:0px -140px}


/* Form errors */
form .error {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}

form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 0px;
	padding-right: 0;
	color: #9E2424;
}
form .error,
form .error-message {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}

